@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
body {
  margin: 0;
  font-family: 'B612', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color:#1DB954;
}


h1 {
	color: #1DB954;
}

a {
	text-decoration: none;
}

.logo {
  margin: 0;
  margin-left: 15px;
	font-size: 1.45em;
}

.logo,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #1DB954;
}

.main-nav a:hover {
	color: 	#f59b23;
}

.navbar {
	padding-top: .5em;
	padding-bottom: .5em;
  	background-color:  #000000;
}

.load-more {
	background: none!important;
	border: none;
	outline:none;
	padding: 0!important;
	color:  #1DB954;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1.2em;
}

.error-message {
	color:red;
}

.main-container{
    width: 95%;
    margin: 0 auto;
    padding: 0.5em 0;
}

.cards-flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 5px;
}

.card {
    width:90%;
    margin: 0.5em auto;
	height: auto;
	background:black;
	border-radius: 10px;
	color:white;
	transition: box-shadow .3s;
	order: 1px solid #ccc;
}

.card:hover{
	box-shadow: 5px 5px 15px #1DB954;
}

.card-image {
    display: block;
	margin: 0 auto;
	margin-top:10px;
    max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.card-link{
	color: #1DB954;
	text-decoration:underline;
	margin: 0 3px;
}

@media (min-height: 450px) {
  .navbar {
    position: sticky;
    top: 0;
  }
}

@media (min-width: 769px) {
	.navbar,
	.main-nav {
		display: flex;
	}
	.navbar {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 100vw;
	}
	.card { 
		width: 38%;
	}
}

@media (min-width: 1025px) {
	.navbar {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.card { 
		width: 24%; 
	}
}